@import "../../../../styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// input box ui 
.send_message_input{
    margin: auto auto 0.3rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #40444B;
    width: 95%;
    position: sticky;
    bottom: 0.5rem;
    @include flex_box();
    label{
        @include flex_box();
    }
    // input{
    //     display: none;
    // }
    input{
        font-family: sans-serif;
        padding: 0.5rem 0.3rem;
        border: none;
        outline: none;
        width: 100%;
        background-color: inherit;
        font-size: 1rem;
        line-height: 1.3rem;
        resize: none;
        height: fit-content;
        @include scrollbar();
        &:focus{
            &::placeholder{
                // padding-left: 0.1rem;
            }
        }
    }
    svg{
        // transition: 1s ease;
        opacity: 0.7;
        &:last-child{
            transition: 0.30s ease;
            transform: rotate(-20deg);
            // color: rgba(var(--secondry-color-rgb),0.7);
        }
        cursor: pointer;
        // &:hover{
        //     transform: rotate(360deg) scale(1.1);
        // }
    }
}

//  input box medea quires
@media (max-width:$mobile) {
    .send_message_input{
        left: 50%;
        translate: -50%;
        bottom: 0.04rem;
        position: fixed;
        width: 99vw;
    }
}

// message box 
.message_box_main{
    margin: 1rem;
    padding: 0.1rem;
    width: min(80rem , 90%);
    word-break: keep-all;
    // background-color: rgba(186, 186, 186, 0.084);
    border-radius: 0.3rem;
    @include flex_box(row , flex-start , flex-end);
    .sender_img{
        width: min(2.8rem);
        background-color: #40444B;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius:100px;
    }
}
.message_and_detail{
    margin-bottom: 0.4rem;
  @include flex_box(column , flex-start , flex-start);
    header{
        @include flex_box(row , flex-start , center , 0.8rem);
        p{
            @include textwrap(1);
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: 0.3px;
            // font-family: sans-serif;
            font-family: 'Open Sans', sans-serif;
            opacity: 0.9;
            text-decoration:underline;
        }
        span{
            @include textwrap(1);
            font-size: 0.8rem;
            opacity: 0.7;
            font-family: 'Open Sans', sans-serif;
        }
    }
    div{
        p{
            line-height: 1rem;
            opacity: 0.8;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
        img{
            width: min(20rem , 100%);
            border-radius: 0.2rem;
            object-fit: contain;
        }
    }
}