.container{
    .coinsAndDiamonds{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width:700px){
    .container{
        .coinsAndDiamonds{
            display: flex;
            // justify-content: space-evenly;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}